<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KaposRestaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="RestauranteBD" connectionString="metadata=res://*/Model.KaposRestaurantBd.csdl|res://*/Model.KaposRestaurantBd.ssdl|res://*/Model.KaposRestaurantBd.msl;provider=System.Data.SqlClient;provider connection string='data source=tema6.database.windows.net;initial catalog=&quot;Tema 6&quot;;persist security info=True;user id=administrador;password=admin123.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <KaposRestaurant.Properties.Settings>
      <setting name="AccountName" serializeAs="String">
        <value>proyectoblobstorage</value>
      </setting>
      <setting name="KeyValue" serializeAs="String">
        <value>x6q/bmEQExsn29HDqfq2TeqH4u3Yb8La68zmm3Udol58TlRK8COaNMRxdXnrcx5g11PuIzAwi+z14m/eUq6H2Q==</value>
      </setting>
      <setting name="ContainerName" serializeAs="String">
        <value>imagenesproyecto</value>
      </setting>
    </KaposRestaurant.Properties.Settings>
  </applicationSettings>
</configuration>